body{
font-family: arial, sans-serif;
margin: 0;
padding: 0;
}

header{
    background-color: #8f8f8f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1{
    color: #000000;
}

nav ul{
list-style: none;
padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

 .menu-toggle {
    display: none;
    font-size: 5em;
    cursor: pointer;
    padding: 10px;
    color: #000000;
  }
  
nav ul li{
    
    display: inline;
    padding:0 10px ;
    font-weight: bold;
}

section{
    text-align: center;
}

main {
    padding: 0;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding:10px 0 ;
    position: fixed;
    width: 100%;
    bottom: 0;

}

.cupom{
    font: 100 12px "Arial";
}

